<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LorderonMusic</title>
    <link rel="stylesheet" href="bot.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="music-svgrepo-com.svg" type="image/png">
</head>
<body>
    <video autoplay loop muted class="bgvideo" id="bgvideo">
        <source src="nonamenosocks - phantom (1).mp4" type="video/mp4"></source>
    </video>

    <div class="welcome-message"></div>

    <main>
        <div class="queue"></div>
    </main>
    <script src="bot.js"></script>
</body>
</html>