<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recommendation</title>
    <link href="LeftMenu.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar bg-dark">
                <h4 class="text-white">Lordaeron<br />Music</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="Home" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="Home" asp-controller="Home" asp-action="Reference">Справка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="Home" asp-controller="Account" asp-action="Index">Мой аккаунт</a>
                    </li>
                </ul>
                <form action="/Authorization/Auth/Logout" method="post" class="logout-button">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
            <div class="col-md-10 content">
                <!-- Add content here -->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

@{
    Layout = "";
}
