/* MyAccount.css */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    padding-top: 20px;
    padding-left: 240px; /* Adjusted padding to avoid overlapping with the sidebar */
}

h1, h2, h5 {
    color: #ffffff;
}

.profile-card {
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    color: #ffffff;
}

.card-body {
    color: #e0e0e0;
}

.card-text {
    color: #b0b0b0;
}

.img-thumbnail {
    border: none;
    border-radius: 8px;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.playlist-item {
    background-color: #2a2a2a;
    border: 1px solid #333333;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #e0e0e0;
}

    .playlist-item:hover {
        transform: translateY(-5px);
    }

    .playlist-item img {
        width: 100px; /* Ограничение ширины */
        height: 100px; /* Ограничение высоты */
        object-fit: cover;
        margin-bottom: 10px;
    }

    .playlist-item a {
        color: #7289DA;
        text-decoration: none;
        font-size: 1rem;
    }

@media (max-width: 768px) {
    .container {
        padding-left: 0; /* Remove left padding on smaller screens */
    }

    .playlist-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.btn-primary {
    background-color: #7289DA;
    border: none;
}

    .btn-primary:hover {
        background-color: #5b6eae;
    }
