/* LeftMenu.css */
.sidebar {
    background-color: #1f1f1f;
    height: 100vh; /* Полная высота окна */
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    width: 220px; /* Ширина бокового меню */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Разделение пространства */
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

    .sidebar h4 {
        color: #ffffff;
        padding-left: 20px;
    }

    .sidebar .nav-link {
        color: #e0e0e0;
        padding-left: 20px;
    }

        .sidebar .nav-link:hover {
            background-color: #333333;
        }

    .sidebar .nav {
        flex-grow: 1;
    }

    .sidebar .logout-button {
        display: flex;
        justify-content: left;
    }
