.sidebar {
    background-color: #2F3136; /* Match the color of server cells */
    height: 100vh; /* Full height of the window */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 220px; /* Width of the sidebar */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between items */
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

    .sidebar h4 {
        color: #ffffff;
        padding-left: 20px;
    }

    .sidebar .nav-link {
        color: #e0e0e0;
        padding-left: 20px;
    }

        .sidebar .nav-link:hover {
            background-color: #333333;
        }

    .sidebar .nav {
        flex-grow: 1;
    }

    .sidebar .logout-button {
        display: flex;
        justify-content: left;
    }
