.container-fluid {
    padding-left: 0; /* Убираем отступ слева для контейнера, чтобы выровнять его с левым меню */
}

.main-content {
    padding-left: 250px; /* Отступ слева для основного контента, чтобы учесть ширину левого меню */
}

.search-bar {
    margin-top: 20px; /* Отступ сверху для поисковой строки */
}

.search-bar input {
    width: calc(100% - 20px); /* Занимаем всю доступную ширину, за вычетом отступов слева и справа */
}