/* PlaylistDetails.css */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sidebar {
    background-color: #1f1f1f;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 220px;
    overflow-y: auto;
    padding-top: 20px;
}

    .sidebar h4 {
        color: #ffffff;
        padding-left: 20px;
    }

    .sidebar .nav-link {
        color: #e0e0e0;
        padding-left: 20px;
    }

        .sidebar .nav-link:hover {
            background-color: #333333;
        }

    .sidebar .logout-button {
        margin: 20px 20px 20px 20px;
    }

.container-fluid {
    padding-top: 20px;
    padding-left: 240px; /* Add padding to avoid overlapping with the sidebar */
}

.main-content {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #e0e0e0;
}

h2, h3, h5 {
    color: #ffffff;
}

.list-group-item {
    background-color: #2a2a2a;
    border: 1px solid #333333;
    color: #e0e0e0;
}

    .list-group-item h5 {
        margin: 0;
        color: #ffffff;
    }

    .list-group-item p {
        margin: 0;
        color: #b0b0b0;
    }

    .list-group-item .embed-responsive {
        margin-top: 10px;
    }

.btn-primary {
    background-color: #76c7c0;
    border-color: #76c7c0;
}

    .btn-primary:hover {
        background-color: #5fb2a6;
        border-color: #5fb2a6;
    }
