
body.dark-theme {
    background-color: #121212;
    color: #DCDDDE;
}

.container-fluid {
    padding-left: 240px;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1200px;
}

.playlist-item {
    background-color: #2a2a2a;
    border: 1px solid #333333;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

    .playlist-item:hover {
        transform: translateY(-5px);
    }

    .playlist-item img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .playlist-item a {
        color: #7289DA;
        text-decoration: none;
        font-size: 0.9rem;
    }

.form-container {
    width: 100%;
    max-width: 500px;
    background-color: #40444B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    position: relative;
}

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-control {
    background-color: #333333;
    color: #DCDDDE;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 20px;
}

    .form-control:focus {
        background-color: #333333;
        color: #DCDDDE;
        border-color: #7289DA;
        box-shadow: none;
    }

.btn-primary {
    background-color: #7289DA;
    border: none;
}

    .btn-primary:hover {
        background-color: #5b6eae;
    }


.add-playlist {
    background-color: #2a2a2a;
    border: 1px solid #333333;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

    .add-playlist img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10px;
    }

.add-text {
    color: #7289DA;
    font-size: 1rem;
}

.add-icon {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

    .add-icon span {
        font-size: 2rem;
        color: #7289DA;
    }
