@model List<DatabaseService.Models.Server>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recommendation</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/MainPage.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        @await Html.PartialAsync("LeftMenu")
        <div class="col-md-10 main-content">
            <div class="search-bar mb-3">
                <input type="text" class="form-control" placeholder="Поиск треков, альбомов, исполнителей, подкастов">
            </div>
            <div class="servers-list">
                <h3>Сервера</h3>
                <ul class="list-group">
                    @foreach (var server in Model)
                    {
                        <li class="list-group-item">
                            <img src="@server.AvatarUrl" class="card-img-top" alt="Server Avatar">
                            <a href="@Url.Action("ServerDetails", "Home", new { serverId = server.Id })">
                                @server.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
